<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My blog</title>
    <style>
        body{
            background-color: #b46cce;
        }
        input{
            background-color: #530062;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Oscar's Blog</h1>
    <button type="button" onclick="location.href='/login-page'">Log in</button><br><br>
    {{blog-entries}}
</body>
</html>